

body {
    background: #e7e7e7;
}

.contactForm {
    text-align: center;
}

button {
    background: green;
    color: #fff;
    border: none;
    padding: 4px;
    width: 150px;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    text-transform: uppercase;
}
.contactItem {
    color: rgb(255, 80, 36);
    text-align:center;
}

.contactImage {
    width: 200px;
    height: 200px;
    padding-top: 50px;
    display: block;
    margin: 0 auto;
}

